<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title><%= current_site.the_title %></title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <%= raw the_head %>
        <%= content_for :head %>
    </head>

    <body>
        <%= yield %>
    </body>
</html>
